@font-face {
  /*可以自定义名称，但引用时也要一样*/
  font-family: "iconfont";
  src: url(../font/iconfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul,
li,
ol {
  list-style: none;
  padding: 0;
}
img {
  border: none;
  vertical-align: middle;
}
.css {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
a {
  line-height: inherit;
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
.big-box {
  min-width: 1080px;
  overflow: hidden;
  position: relative;
}
body {
  min-width: 1080px;
  line-height: 1.5;
  font-size: 14px;
  background-color: #F4F4F4;
  background: #fff;
  color: #333;
  cursor: auto;
  font-family: Helvetica, "iconfont", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif, "Noto Sans CJK SC";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}
section {
  background-color: #FFF;
}
section .bd {
  width: 1000px;
  margin: 0 auto;
}
section .bd .desc {
  font-size: 18px;
  color: #666;
  line-height: 180%;
}
section .bd .title {
  font-size: 60px;
  margin: 70px auto 20px;
}
.text {
  line-height: 100%;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.left {
  float: left;
}
.right {
  float: right;
}
header {
  position: relative;
  overflow: hidden;
}
header .slick-dots {
  position: absolute;
  bottom: 50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  z-index: 10;
}
header .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
header .slick-dots li .dot {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: #C9C9C9;
}
header .slick-dots li .dot.active {
  border: 2px solid #FFFFFF;
  background: transparent;
}
header .inner {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
header .inner .lunbo-wrap {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -540px;
  width: 1080px;
  height: 100%;
}
header .inner .lunbo-wrap .lunbo-wrap2 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -410px;
  width: 1900px;
  height: 100%;
  overflow: hidden;
}
header .inner .lunbo-wrap .lunbo-wrap2 .index-lunbo {
  z-index: 1;
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
}
header .inner .lunbo-wrap .lunbo-wrap2 .index-lunbo .bg {
  width: 1900px;
  height: 100%;
  float: left;
}
header .inner .lunbo-wrap .lunbo-wrap2 .index-lunbo .slogan-wrapper {
  position: relative;
  top: 30%;
  text-align: center;
  color: #fff;
}
header .inner .lunbo-wrap .lunbo-wrap2 .index-lunbo .slogan-wrapper .slogan {
  display: inline-block;
  font-size: 59px;
  margin-bottom: 20px;
}
header .inner .lunbo-wrap .lunbo-wrap2 .index-lunbo .slogan-wrapper .version {
  font-size: 25px;
  margin-bottom: 70px;
}
header .inner .nav-wrapper {
  position: relative;
  z-index: 9;
  height: 72px;
}
header .inner .nav-wrapper .logo {
  float: left;
  margin: 20px 0 0 30px;
  background-image: url("../img/logo-white.png");
  width: 90px;
  height: 52px;
  vertical-align: middle;
  display: inline-block;
}
header .inner .nav-wrapper nav {
  float: right;
  margin: 25px 40px 0 0;
}
header .inner .nav-wrapper nav a {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  color: #d8d8d8;
}
header .inner .nav-wrapper nav a.active {
  color: #fff;
  padding-bottom: 5px;
  font-weight: bold;
}
header .inner .nav-wrapper nav a.btn {
  color: #d8d8d8;
  margin-left: 10px;
  width: 90px;
  height: 40px;
  line-height: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.45s, color 0.45s;
}
header .inner .nav-wrapper nav a.btn.org {
  margin-left: 70px;
}
header .inner .nav-wrapper nav a.btn:hover {
  background-color: #ffffff;
  color: #333333;
}
header .inner .bd {
  position: relative;
  z-index: 8;
  color: #fff;
  text-align: center;
}
header .inner .bd .buttons {
  margin: 300px auto 70px;
  text-align: center;
}
header .inner .bd .buttons .btn {
  color: #fff;
  font-size: 18px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  background-color: #00c1c2;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
header .inner .bd .contact-us {
  font-size: 14px;
  display: inline-block;
  width: 440px;
  height: 100px;
  padding: 20px 50px;
  line-height: 100%;
  color: #fff;
  border: 1px solid #C9C9C9;
  background-color: rgba(0, 0, 0, 0.15);
}
header .inner .bd .contact-us .phones {
  font-size: 16px;
  margin-top: 20px;
}
footer .register-wrapper {
  background-color: #F2F2F2;
  text-align: center;
  padding: 70px 0 50px;
  overflow: hidden;
}
footer .register-wrapper .bd {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}
footer .register-wrapper .bd .buttons {
  text-align: center;
}
footer .register-wrapper .bd .buttons .btn {
  color: #fff;
  font-size: 18px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  background-color: #00b6e3;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}
footer .register-wrapper .bd .contact-us {
  font-size: 14px;
  display: inline-block;
  width: 440px;
  height: 100px;
  padding: 20px 50px;
  line-height: 100%;
  color: #737373;
}
footer .register-wrapper .bd .contact-us .phones {
  font-size: 16px;
  margin-top: 20px;
}
footer .footer-bd {
  background-color: #FFF;
  overflow: hidden;
}
footer .footer-bd .bd {
  width: 1000px;
  margin: 0 auto;
}
footer .footer-bd .bd .copyright {
  margin: 20px auto;
  font-size: 13px;
  color: #737373;
  text-align: center;
}
footer .footer-bd .bd .title {
  text-align: center;
  margin: 30px auto;
  font-size: 26px;
  color: #737373;
}
footer .footer-bd .bd .title .logo {
  display: inline-block;
  height: 52px;
  width: 90px;
  vertical-align: middle;
  background-image: url(../img/logo.png);
  background-size: contain;
}
footer .footer-bd .bd .inner {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  padding: 50px 0;
}
footer .footer-bd .bd .inner .icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: #9ba5a8;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
footer .footer-bd .bd .inner a {
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
footer .footer-bd .bd .inner .column {
  float: left;
  width: 25%;
  height: 202px;
  padding-left: 20px;
  border-right: 1px solid #DFDFDF;
  text-align: -webkit-match-parent;
}
footer .footer-bd .bd .inner .column > a:hover > .icon {
  font-size: 40px;
  color: #00b6e3;
}
footer .footer-bd .bd .inner .column .desc {
  padding-left: 10px;
}
footer .footer-bd .bd .inner .column .links {
  margin-top: 30px;
}
footer .footer-bd .bd .inner .column .links .text {
  line-height: 100%;
  font-size: 22px;
}
footer .footer-bd .bd .inner .column .links > a:hover {
  font-size: 26px;
  color: #ea4c89;
}
footer .footer-bd .bd .inner .column .link {
  display: block;
  font-size: 16px;
  color: #737373;
  margin-bottom: 20px;
  word-wrap: break-word;
}
footer .footer-bd .bd .inner .column .pic {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
footer .footer-bd .bd .inner .column .pic1 {
  background-image: url(../img/index/Wechat.png);
  background-size: 100% 100%;
}
footer .footer-bd .bd .inner .column .pic2 {
  cursor: pointer;
  background-image: url(../img/index/weibo.png);
  background-size: 100% 100%;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  background-position: center;
}
footer .footer-bd .bd .inner .column a.wbpic:hover .pic2 {
  background-size: 110% 110%;
  background-position: center;
}
footer .footer-bd .bd .inner .column:last-child {
  border-right: none;
}
footer .footer-bd .bd .inner .link-share {
  padding-top: 30px;
  text-align: center;
}
footer .footer-bd .bd .inner .link-share > a {
  width: 100%;
  padding: 0 10px;
  color: #444444;
  font-size: 40px;
}
footer .footer-bd .bd .inner .link-share > a > span {
  font-size: 40px;
  display: inline-block;
}
footer .footer-bd .bd .inner .link-share .icon-qq:hover > span {
  color: #ff8833;
}
footer .footer-bd .bd .inner .link-share .icon-wx:hover > span {
  color: #ea4c89;
}
footer .footer-bd .bd .inner .link-share .icon-xl:hover > span {
  color: red;
}
/*# sourceMappingURL=index-all.css.map */
